* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.headerStyle {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px 15px;
  border-radius: 7px;
  font-size: 3rem;
}